html {
    font-family: 'proxima-nova', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template, [hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active, a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

code[class*="language-"], pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"], pre[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #fafafa;
}

:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
    color: #905;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #690;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule, .token.attr-value, .token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex, .token.important, .token.variable {
    color: #e90;
}

.token.important, .token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.c-primary {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom: #dbdbdb 1px solid;
    background: #fff;
    display: flex;
    box-shadow: 2px 4px 8px 0 rgba(211, 211, 211, 0.6);
    -moz-box-shadow: 2px 4px 8px 0 rgba(211, 211, 211, 0.6);
    -webkit-box-shadow: 2px 4px 8px 0 rgba(211, 211, 211, 0.6);
}

.clevertap-logo {
    width: 155px;
    height: auto;
    background: url("../img/CleverTap_WhiteBG.svg") no-repeat 0 0;
    background-size: contain;
    position: relative;
    text-indent: -9999px;
    padding: 0;
    margin-top: 16px;
    margin-left: 20px;
}

.l-top-nav {
    margin-left: auto;
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.l-top-nav__link {
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    color: #424242;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
}

.l-top-nav__link:hover {
    color: #f0804d;
}

.l-top-nav__link--button {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 40px;
    border: #424242 1px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.l-top-nav__link--button:hover {
    border: #f0804d 1px solid;
}

.c-primary__mobile-btn {
    display: none;
    background: #fff url("../img/menu-list-ic.svg") no-repeat 0 0;
    background-size: contain;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    text-indent: -99999px;
    border: 0;
    cursor: pointer;
    outline: 0;
}

@media (max-width: 990px) {
    .l-top-nav {
        display: none;
    }

    .c-primary__mobile-btn {
        display: block;
    }
}

.l-search-list {
    padding-top: 20px;
}

.l-search-list article {
    margin: 0 20%;
}

.l-search-list article header h2 {
    font-weight: 400;
    font-size: 25px;
}

.l-search-list article header h2 a {
    color: #424242;
    border-bottom: #424242 1px dotted;
}

.l-search-list .navigation {
    margin: 0 20%;
}

.l-search-list .navigation a {
    color: #424242;
    border-bottom: #424242 1px dotted;
}

.frm-search {
    padding: 13px 37px 13px 20px;
    border-bottom: #e0e0e0 1px solid;
    position: relative;
}

.frm-search .search-icon {
    position: absolute;
    right: 20px;
    top: 31px;
    background: #fafafa url("../img/search_ic.svg") no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    width: 18px;
    height: 18px;
}

.frm-search input {
    width: calc(100% - 15px);
    height: 30px;
    border: 0;
    padding: 10px;
    color: #363e4b;
    font-size: 18px;
    background: #fafafa;
}

.frm-search input:focus {
    border: none;
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.frm-search.active::after {
    color: #363e4b;
}

@media only screen and (max-width: 990px) {
    .frm-search .search-icon {
        right: 50px;
    }

    .frm-search input {
        width: calc(100% - 50px);
        padding: 10px 40px 10px 10px;
    }
}

.main-content {
    margin-left: 22%;
    margin-top: 70px;
}

.l-middle-content {
    margin: 0 20%;
}

.l-middle-content .frm-search {
    border-bottom: 0;
    padding: 13px 0;
}

.PT50 {
    padding-top: 50px;
}

.ct-footer {
    padding: 20px 0;
    margin: 50px 20% 0 20%;
    font-size: 14px;
    color: #757474;
    border-top: #DCDBDB 1px solid;
}

.ct-footer a {
    color: #757474;
}

.ct-footer a:hover {
    color: #333;
}

.copyright_text {
    font-size: 12px;
    padding: 15px 0 25px 0;
}

@media (max-width: 990px) {
    .main-content {
        margin-left: 0;
    }
}

img {
    padding: 20px 0;
    max-width: 100%;
    height: auto;
}

img.img-full-width {
    width: 100%;
    height: auto;
}

.doc-article__breadcrumb {
    padding: 47px 20%;
    color: #797979;
    border-bottom: 1px solid #f1f1f1;
    display: none;
}

.doc-article__breadcrumb h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: #424242;
}

.doc-article__breadcrumb h1 span {
    color: #5e5e5e;
    font-weight: 300;
}

.doc-article__content {
    padding: 0 20%;
    font-weight: 400;
    color: #5e5e5e;
    line-height: 1.7;
}

.doc-article__content mark {
    background-color: #FFF6DB;
    color: #424242;
    word-wrap: break-word;
    display: block;
    padding: 10px;
}

.doc-article__content p a, .doc-article__content li a {
    color: #585858;
    border-bottom: 1px dotted #585858;
}

.doc-article__title {
    color: #4f4f4f;
    font-size: 28px;
    font-weight: 600;
    padding-top: 64px;
    margin-bottom: 0;
    padding-bottom: 15px;
    border-bottom: #d5d6d7 1px solid;
    line-height: 35px;
}

.doc-article__sub-title {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 600;
}

.doc-article__sub-title a {
    color: #424242;
}

.doc-article__content h3 {
    color: #424242;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    margin: 0;
}

.doc-article__content h4 {
    color: #424242;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
    margin: 0;
}

.doc-article__content pre {
    border: 1px solid #d4d5d6;
    font-size: 13px;
    margin: 30px 0 0 0;
    padding: 20px;
    overflow: auto;
}

.doc-article__content .prism-content pre {
    margin: 0;
}

.snippet-tab {
    padding-top: 10px;
}

.snippet-tab-list {
    padding-left: 0 !important;
    margin: 0;
    height: 39px;
    position: relative;
}

.snippet-tab__item {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

.snippet-tab__link {
    padding: 6px 15px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #7E8082;
    font-weight: 400;
    font-size: 16px;
    border: transparent 1px solid;
    border-bottom: 0 !important;
}

.snippet-tab__is-active {
    border: #ccc 1px solid;
    border-bottom: 0;
    text-decoration: none;
    color: #333;
    background: #fafafa;
}

.prism-content {
    display: none;
}

.pre-copy-text {
    background: #f1f1f1;
    margin-bottom: 30px;
    padding: 5px 20px;
    color: #424242;
    border: 1px solid #d4d5d6;
    border-top: 0;
    display: block;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}

.e-copied {
    color: #00c853;
    font-weight: 400;
    display: none;
    position: absolute;
    top: 6px;
    left: 20px;
    background: #F1F1F1;
}

.snippet-tab-select {
    display: none;
}

@media (max-width: 1400px) {
    .snippet-tab__link {
        padding: 6px 9px;
    }
}

@media (max-width: 1220px) {
    .snippet-tab {
        position: relative;
    }

    .snippet-tab-select {
        display: block;
        border: 1px solid #d4d5d6;
        border-bottom: 0;
        padding: 6px 20px;
        position: relative;
        background: #fafafa;
        cursor: pointer;
    }

    .snippet-tab-select__arrow {
        position: absolute;
        right: 0;
        font-size: 10px;
        top: 0;
        border-left: 1px solid #d4d5d6;
        height: 23px;
        padding: 8px 10px;
        width: 20px;
        text-align: center;
        line-height: 30px;
        background: #f1f1f1;
        color: #424242;
    }

    .snippet-tab-list {
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        border: #ccc 1px solid;
        border-bottom: 0;
        display: none;
        z-index: 99;
    }

    .tab-dropdown-open .snippet-tab-list {
        display: block;
    }

    .snippet-tab__item {
        display: block;
        border-bottom: #ccc 1px solid;
        margin-right: 0;
    }

    .snippet-tab__link {
        padding: 6px 15px 6px 22px;
        background: #fafafa;
    }

    .snippet-tab__is-active {
        border: 0;
    }
}

@media (max-width: 990px) {
    .doc-article__content {
        word-wrap: break-word;
    }
}

@media (max-width: 580px) {
    .doc-article__content {
        padding: 0 30px;
    }

    .doc-article__breadcrumb {
        padding: 35px 20px;
    }

    .ct-footer {
        margin: 50px 30px 0 30px;
    }
}

.c-left-nav {
    padding: 0;
    float: left;
    position: fixed;
    width: 22%;
    height: 100%;
    background: #fafafa;
}

.c-left-nav .widget_nav_menu {
    overflow-y: scroll;
    height: calc(100% - 150px);
}

.c-left-nav .menu {
    margin: 0;
    padding: 0 20px;
    list-style: none;
}

.c-left-nav .menu > .menu-item > a {
    padding: 15px 10px;
    font-size: 18px;
    color: #424242;
    display: block;
    border-top: #ccc 1px solid;
}

.c-left-nav .menu > .menu-item.current-menu-parent > a {
    border-top-color: #ea6318;
    font-weight: 500;
}

.c-left-nav .menu .menu-item:first-child a {
    border-top: 0;
}

.c-left-nav .sub-menu {
    margin: 0;
    padding: 0 10px 10px 30px;
    list-style: none;
    border-bottom: #ea6318 1px solid;
    display: none;
}

.c-left-nav .sub-menu li > a {
    padding: 10px 0;
    display: block;
    line-height: 20px;
    font-size: 17px;
    color: #4e4e4e;
}

.c-left-nav .current-menu-item .sub-menu, .c-left-nav .current-menu-parent .sub-menu {
    display: block;
    margin-bottom: -1px;
    position: relative;
}

.c-left-nav .sub-menu li > .append-submenu {
    margin: 5px 0;
}

.c-left-nav .sub-menu li > .append-submenu a, .c-left-nav .sub-menu li > .append-submenu li {
    padding: 3px 0;
    color: #8c8c8c;
    font-size: 16px;
}

.c-left-nav .sub-menu li > .append-submenu li.active a, .c-left-nav .sub-menu li > .append-submenu li:hover, .c-left-nav .sub-menu li > .append-submenu li:hover a, .c-left-nav .sub-menu li > .append-submenu li.active {
    color: #ea6318;
}

.is-mobile .l-top-nav {
    display: block;
    margin: 0 20px;
    padding: 0;
}

.is-mobile .l-top-nav .l-top-nav__link, .is-mobile .l-top-nav .l-top-nav__link--button {
    padding: 8px 0 8px 10px;
    border-top: #ccc 1px solid !important;
    font-size: 18px;
    font-weight: 400;
    text-transform: initial;
}

.is-mobile .l-top-nav .l-top-nav__link--button {
    margin-left: 0;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

@media (max-width: 990px) {
    .c-left-nav {
        width: 100%;
        height: calc(100% - 70px);
        background: #fff;
    }

    .is-mobile {
        display: none;
    }

    .is-mobile__active {
        display: block;
        z-index: 1;
    }
}